/*****************************************
        Theme overrides
        source vars: pxt/theme/themepacks.less
******************************************/
:root, .pxt-theme-root {
    /// Page
    --pxt-page-font: @pageFont;
    --pxt-page-foreground-light: var(--pxt-neutral-background3);
    /// Header bar
    --pxt-headerbar-background: var(--pxt-header-background);
    --pxt-headerbar-background-glass: var(--pxt-neutral-alpha10);
    --pxt-headerbar-foreground: var(--pxt-header-foreground);
    --pxt-headerbar-accent: var(--pxt-header-stencil);
    --pxt-headerbar-accent-smoke: var(--pxt-neutral-alpha20);
    /// Content area
    --pxt-content-background: var(--pxt-target-background1);
    --pxt-content-background-glass: var(--pxt-neutral-alpha10);
    --pxt-content-foreground: var(--pxt-colors-blue-background);
    --pxt-content-accent: var(--pxt-target-background1-hover);
    --pxt-content-secondary-foreground: var(--pxt-neutral-background3);
    /// Primary button
    --pxt-button-primary-background: var(--pxt-primary-background);
    --pxt-button-primary-foreground: var(--pxt-primary-foreground);
    --pxt-button-primary-accent: var(--pxt-primary-accent);
    /// Secondary button
    --pxt-button-secondary-background: var(--pxt-secondary-background);
    --pxt-button-secondary-foreground: var(--pxt-secondary-foreground);
    --pxt-button-secondary-accent: var(--pxt-secondary-accent);
    /// Status colors
    --pxt-success: var(--pxt-colors-green-background);
    --pxt-info: var(--pxt-colors-blue-background);
    --pxt-warning: var(--pxt-colors-yellow-background);
    --pxt-error: var(--pxt-colors-red-background);
    --pxt-success-background: var(--pxt-colors-green-alpha10);
    --pxt-info-background: var(--pxt-colors-blue-alpha10);
    --pxt-warning-background: var(--pxt-colors-yellow-alpha10);
    --pxt-error-background: var(--pxt-colors-red-alpha10);
    --pxt-success-accent: var(--pxt-colors-green-hover);
    --pxt-info-accent: var(--pxt-colors-blue-hover);
    --pxt-warning-accent: var(--pxt-colors-yellow-hover);
    --pxt-error-accent: var(--pxt-colors-red-hover);
}
